---
import BlogPosts from "../../../components/BlogPosts.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("../../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 8,
    });
  });
}
const { page } = Astro.props;
console.log("page: ", page);

const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <BlogPosts paginate={true} page={page} />

  <div class="paginate">
    {
      page.url.prev ? (
        <a class="prev button" href={page.url.prev}>
          Previous
        </a>
      ) : null
    }
    {
      page.url.next ? (
        <a class="next button" href={page.url.next}>
          Next
        </a>
      ) : null
    }
  </div>
</BaseLayout>

<style>
  .paginate {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 2rem;
  }

  .button {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    background-color: #18181b;
    color: #f3f4f6;
    border: solid 1px #9ca3af;
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }

  .next {
    margin-left: auto;
  }

  .prev {
    margin-right: auto;
  }
</style>
