---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { pageTitle, showImage, message } = Astro.props;

let imageClass = "hidden-image";
let reverse = "";
if (showImage) {
  reverse = "reverse";
  imageClass = "intro-image";
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="layout">
    <Header />
    <div class=`intro ${reverse}`>
      <img class={imageClass} src="/assets/headshot.jpg" alt="me" />
      <div>
        <h1>{pageTitle}</h1>
        <p>
          {message}
        </p>
      </div>
    </div>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .intro {
    display: flex;
    flex-direction: column;
  }

  .intro p {
    padding-top: 0.625rem;
    color: #71717a;
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }

  .hidden-image {
    display: none;
  }

  .intro-image {
    align-self: flex-start;
    margin-top: 2rem;
    border-radius: 50%;
    width: 5rem;
    border-radius: 9999px;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .intro {
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .intro-image {
      width: 7rem;
    }

    .reverse {
      flex-direction: row-reverse;
    }
  }

  @media only screen and (min-width: 992px) {

    .intro-image {
      width: 10rem;
      margin-left: 4rem;
    }

  }
</style>
